
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
            
            <span class="subheading">Create a new Blog Here </span>
            </div>
          </div>
        </div>
      </div>
    </header>

      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               
                <form  ng-submit="createNewCtrl.createNewBlog()"  validate>
                    
                        <div class="form-group col-xs-12 ">
                           
                            <input type="text" class="form-control" placeholder="Heading" ng-model="createNewCtrl.heading" required>
                           
                        </div>
                    
                    
                        <div class="form-group col-xs-12 ">
                           
                            <input type="text" class="form-control" placeholder="Enter Sub Heading " ng-model="createNewCtrl.subHeading" required >
                           
                        </div>
                    
                    
                        <div class="form-group col-xs-12 ">
                            
                            <input type="text" class="form-control" placeholder="Author Name" ng-model="createNewCtrl.author" required >
                            
                        </div>
                    
                    
                        <div class="form-group col-xs-12 ">
                            
                            <textarea rows="10" class="form-control" placeholder="Contents" ng-model="createNewCtrl.bodyHtml" required></textarea>
                            
                        </div>
                    
                    <br>
                    
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr> 
       